{% extends 'base.html.twig' %}

{% block title %}Setlistify{% endblock %}

{% block header %}Choose your songs{% endblock %}

{% block body %}

    <hr />
    <form  method="POST" action="{{ path('setlists_create') }}">
        <div class="col">
            <div class="row">
                <div class="col">
                    <song-table songsinfo="{{ songs|json_encode}}"></song-table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 ">
                    <label for="playlist_name">Name of your playlist</label>
                    <input type="hidden" id="setlistId" name="setlistId" value="{{setlist.id}}" />
                    <input type="text" id="playlistName" name="playlistName" placeholder="My awesome setlist" />
                </div>
                <div class="col-sm-3 text-right">
                    <input type="submit" value="Create Playlist" />
                </div>
            </div>
        </div>
    </form>

{% endblock %}