{% extends 'base.html.twig' %}

{% block title %}Setlistify{% endblock %}

{% block header %}
    {% trans %}
        Choose your songs
    {% endtrans %}
{% endblock %}

{% block body %}

    <hr />
    <form  method="POST" action="{{ path('setlists_create') }}">
        <div class="col">
            <div class="row">
                <div class="col">
                    <song-table songsinfo="{{ songs|json_encode}}"></song-table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 ">
                    <label for="playlist_name">{% trans %}Name of your playlist{% endtrans %}</label>
                    <input type="hidden" id="setlistId" name="setlistId" value="{{setlist.id}}" />
                    <input type="text" id="playlistName" name="playlistName" placeholder="{% trans %}My awesome setlist{% endtrans %}"/>
                </div>
                <div class="col-sm-3 text-right">
                    <input type="submit" value="{% trans %}Create Playlist{% endtrans %}" />
                </div>
            </div>
        </div>
    </form>

{% endblock %}