{% extends 'base_cover.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cover') }}
{% endblock %}

{% block title %}Setlistify{% endblock %}

{% block body %}
  
    <h1 class="h3 mb-3 font-weight-normal">Thank you for your feedback</h1>    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cover') }}
{% endblock %}