{% extends 'base_cover.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cover') }}
{% endblock %}

{% block title %}Setlistify{% endblock %}

{% block body %}
  
    <p class="lead">Contact</p>
    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cover') }}
{% endblock %}