<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="img/favicon.png">
        <title>{% block title %}Setlistify{% endblock %}</title>
        
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
    </head>
    <body class="text-center">
           
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
              <div class="inner">
                <h3 class="masthead-brand">Setlistify</h3>
                <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link {% if (app.request.attributes.get('_route') == 'app_register') %} active {% endif %}" href="{{ path('app_register') }}">Register</a>
                  <a class="nav-link {% if (app.request.attributes.get('_route') == 'app_login') %} active {% endif %}"" href="{{ path('app_login') }}">Sign in</a>
                </nav>
              </div>
            </header>
        
            <main role="main" class="inner cover">
                {% block body %}{% endblock %}
            </main>
        
            <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
              <p>Photo by <a href="https://snapwiresnaps.tumblr.com/">Snapwire</a>.</p>
            </div>
          </footer>
        </div>
        
        {% block lib_javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
